* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SweetSansProBold";
  src: local("SweetSansProBold"),
    url("../../fonts/SweetSansProBold.otf") format("otf");
}

@font-face {
  font-family: "SweetSansProHairline";
  src: local("SweetSansProHairline"),
    url("../../fonts/SweetSansProLight.otf") format("opentype");
}

body {
  font-family: "SweetSansProHairline";
}
